
.board_list{
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174)
    
			}
.container{
	width:100%;
	text-align:center;
}
.board_box{
	width:1100px;
	display:inline-block;
	margin-top:50px;
	margin-bottom:100px;
	
}
.board_title{
	width:1100px;
	height:50px;
display:block;}
.board_title > h1{
	font-size:25px;
	font-weight:600;
	float:left;
}
.boardright{
	float:right;
}
input{
	border: 1px solid rgb(174,174,174);
	width:200px;
	height: 40px;
	border-radius: 5px;
}

select{
	padding-left:5px;
	border: 1px solid rgb(174,174,174);
	margin-right:5px;
	width:120px;
	height:40px;	
	border-radius: 5px;
	font-size: 17px;
}
.board_list{
	width:1100px;
	height:400px;
	margin-bottom: 20px;
}
.write{
	width:1100px;
	height:60px;
	background: #FA9D00;
	border-radius: 5px;
	margin-top:10px;
	margin-bottom:15px;

}
.write:hover{
	background: #e49103;

}
#question{
float:left;
text-decoration-line: none;
color: black;
padding: 20px;
font-size: 20px;
}
#question:hover{
	text-decoration-line:underline;
}
dl{
	
	margin-bottom:50px;
}
.board_list>dt{
 	font-size:20px;
	width:1100px;
	height:50px;
	border-bottom: 1px solid rgb(174,174,174);
	border-radius: 5px;
	margin-top:10px;
	margin-bottom:10px;

}
dt>a{
float:left;
padding:12px;
padding-left:15px;
}
.set2{
	text-align:left;
	width:1100px;
	height:150px;
	position:relative;
	margin:0;
}
#profile>img{
	width:50px;
	height:50px;
}
#profile{
display: inline-block;
margin:50px;

}
#writed{
height:50px;
display: inline-block;
margin-top:50px;

}
#writer{
margin:5px;
font-weight:400;
}
#writedate{
margin:5px;
font-weight:400;
color:rgb(60, 60, 60)
}
#title{
margin-bottom:10px;
font-size:22px;
font-weight:500;
color:rgb(60, 60, 60)

}
.set{
	
	text-align:right;
	font-size:20px;
	font-weight:lighter;
}
#bno{
	
	margin-right:10px;
	margin-top:50px;
	font-size:22px;
	float:right;
	
	

}
#cnt{
	margin-right:20px;
	margin-top:50px;
	float:right;
	font-size:20px;
	
	
	

}
#content{
	float:left;
	margin-left:50px;
	margin-bottom:50px;
	overflow: hidden;
	text-overflow: elipsis;
}
.board_list:hover{
background:#ddd;
}
#searchBt{
float:right;
width:60px;
height:42px;
font-size:17px;
margin-left:5px;
}
#searchBt:hover{
background:rgb(220,220,220);
}