.container{
width:100%;
text-align:center;
}
.wrap_read{
display:inline-block;
width:800px;
height:700px;
border: 1px solid rgb(174,174,174);
border-radius:5px;
margin-top:50px;
margin-bottom:30px;
}
.profile{
width:700px;
height:100px;
}
#profile_img>img{
width:50px;
height:50px;
}
#profile_img{
margin-right:30px;
float:left;
}
.content{
width:700px;
height:500px;
}
.recomment{
width:700px;
height:200px;
text-align:center;
display:inline-block;
border-bottom: 1px solid rgb(174,174,174);
}
#modal>button{
width:50px;
height:25px;
}
.recomment>form>input{
border: 1px solid rgb(174,174,174);
border-radius:5px;
width:700px;
height:100px;
display:inline-block;

}
.recomment>form{
margin-top:30px;
margin-bottom:30px;
}
.recomment>form>button{
float:right;
margin:10px;
}
dt{
 	font-size:20px;
	width:800px;
	height:50px;
	border-bottom: 1px solid rgb(174,174,174);
	border-radius: 5px;
	margin-bottom:10px;
	text-align:left;
	position:relative;
}
dt>a{
position: absolute;
top:15px;
left:10px;
}
.wrap_wrap{
display:inline-block;
width:700px;
height:100%;
text-align:left;
margin-top:30px;

}
.wrap_recomment{
display:inline-block;
text-align:center;
width:800px;
height:700px;
border: 1px solid rgb(174,174,174);
border-radius:5px;
margin-bottom:30px;
}
#title{
margin-bottom:10px;
}
#writed{
float:left;
}
#title{
font-size:23px;
font-weight:600;
}
#cnt{
float:right;
font-size:20px;
font-weight:400;

}
#bno{
float:right;
font-size:20px;
font-weight:400;
margin-right:10px;
}
.wrap_container{
display:inline-block;
width:800px;
}
#report{
float:right;
}
#modal{	
display:none;
border: 1px solid rgb(174,174,174);
border-radius:5px;
width:200px;
top:35%;
height:100px;
left:45%;
text-align:center;
position:fixed;
background:rgb(220,220,220);


}
.modalwindow{
margin-top:25px;
width:200px;
height:50px;
display:inline-block;
text-align:center;
}
.modalwindow>a{
margin-bottom:10px;
}
#btn1{

}
#btn2{

}
.rread{
	width:700px;
height:100px;
text-align:center;
display:inline-block;
border-bottom: 1px solid rgb(174,174,174);
overflow:auto;

}
.rread>table{
margin-top:40px;
	width:700px;
	text-align:center;
}
.rread>table>tr{
margin-top:10px;
}