header {
    overflow: hidden;
}
header .logo {
    float: left;
}
header .logo img {
    width: 200px;
    height: 100px;
}
header .menu {
    float: right;
    margin: 40px 30px 0 0;
}
header .menu li{
    font-family: MinSans-Medium;
    font-size: 20px;
    float: left;
}
header .menu li > a {
    color: black;
}
.clear {
    clear: both;
}