header {
    overflow: hidden;
}
.logo {
    float: left;
}
.logo img {
    width: 200px;
    height: 100px;
}
.menu {
    float: right;
    margin: 40px 30px 0 0;
}
.menu li{
    font-family: MinSans-Medium;
    font-size: 20px;
    float: left;
}
.menu li > a {
    color: black;
}
.claer {
    clear: both;
}