@charset "UTF-8";


section{
 padding: 10px;
}
 #memberList table.member-tableAll {
    width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
	text-align: center;
	font-family: "MinSans-Medium"
  
   
  }
 .member-tableAll th,.member-tableAll td{
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
  
 .member-tableAll th {
      background-color: #fed08b;
  }
  .member-title{
  font-size: 20px;
  padding: 20px 30px;
  font-family: "MinSans-Bold"
  }
  
  .member-tableAll{
     padding: 10px;
  }
 