@charset "UTF-8";
#main_wrap {
	width: 1200px;
	height: 80%;
	margin: 0 auto;
}
#top_div {
	text-align: center;
	margin-top: 20px;
}

#middle_div {
	margin: 20px 0px 50px 0px;
}

#low_div {
	text-align: center;
}

table {
	border-spacing: 20px 20px;
	margin: 0 auto;
	border-collapse: separate;
}