@charset "UTF-8";

.wrap.content * {
	font-family: MinSans-Medium;
}
.wrap.content{
	height:80%;
}
#top_div {
	text-align: center;
}

#middle_div {
	margin: 20px 0px 50px 0px;
}

#low_div {
	text-align: center;
}

table#memberUpdateTable {
	border-spacing: 20px 20px;
	margin: 0 auto;
	border-collapse: separate;
	font-family: MinSans-Medium;
}
.in_box {
  width:300px;
  height:30px;
  font-size:12px;
}
#updateTitle {
	font-size: 20px; 
	padding: 20px;
	text-align: center;
	color:#FA9D00;
}