@charset "UTF-8";

* {
	font-family: MinSans-Medium;
	vertical-align: middle;
}

div#bottom_div p {
	line-height:20px;
}


a:link {
	color: black
}

a:visited {
	color: black;
}

.wrap.content {
	height: 80%;
	display: flex;
}

#left_div {
	width: 70%;
}

#right_div {
	width: 30%;
}

#top_div {
	display: flex;
	margin: 50px 50px 50px 50px;
}

#profile_div {
	display: flex;
}

.nickname_div {
	padding: 10px 0px;
}

.pencil_div {
	display: flex;
	padding: 10px 0px;
	justify-content: space-between;
}

#bottom_div {
	margin-top: 50px;
}

.arrow, .arrow_active {
	width: 20px;
	height: 20px;
	margin: 0 10px;
}

.text_div {
	width: 50%;
	margin: 20px;
	display: flex;
	justify-content: space-between;
}

.arrow_active {
	display: none;
}

#p_won{
	cursor:pointer;
}

#p_receive_alarm{
	cursor:pointer;
}

/* 스위치 */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 20px;
	vertical-align: middle;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(28px);
	-ms-transform: translateX(28px);
	transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.toggle_p {
	margin: 0px;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}
.toggle_p2 {
	margin: 0px;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}



/* modal 0원*/
#won_modal.won_modal_overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	border: 1px solid black;
}

#won_modal .won_modal_window {
	background: white;
	border-radius: 10px;
	border: 1px solid black;
	width: 600px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	overflow: auto;
}

#won_modal .won_modal_title {
	padding-left: 10px;
	display: inline;
	color: black;
}

.won_modal_title p {
	
}
.won_modal_title img {
	float:left;
}
.won_modal_title p {
	float:left;
}

#won_modal .won_modal_close {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	color: black;
}

#won_modal .won_modal_content {
	margin-top: 20px;
	padding: 0px 10px;
	color: black;
}
table#won_table{
	width:100%;
	text-align:center;
	border-spacing: 20px 20px;
	margin: 0 auto;
	border-collapse: separate;
	
}
table th{
	font-family: MinSans-Bold;
	border-bottom: 1px solid gray;
	height:30px;
}
table td {
	font-family: MinSans-Medium;
	vertical-align:middle;
}
table#won_table tr:first-child th:nth-child(1){
	width: 10%;
}
table#won_table tr:first-child th:nth-child(2){
	width: 20%;
}
table#won_table tr:first-child th:nth-child(3){
	width: 30%;
}
table#won_table tr:first-child th:nth-child(4){
	width: 40%;
}
table tr:first-child th:nth-child(1){
	width: 10%;
}
table tr:first-child th:nth-child(2){
	width: 40%;
}
table tr:first-child th:nth-child(3){
	width: 50%;
}

/* modal 충전하기*/
#pencilcharge_modal.pencilcharge_modal_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	border: 1px solid black;
}

#pencilcharge_modal .pencilcharge_modal_window {
	background: white;
	border-radius: 10px;
	border: 1px solid black;
	width: 400px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	overflow: auto;
}

#pencilcharge_modal .pencilcharge_modal_title {
	padding-left: 10px;
	display: inline;
	color: black;
}
.pencilcharge_modal_title img {
	float:left;
}
.pencilcharge_modal_title p {
	float:left;
}


#pencilcharge_modal .pencilcharge_modal_close {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	color: black;
}

#pencilcharge_modal .pencilcharge_modal_content {
	margin-top: 20px;
	padding: 0px 10px;
	color: black;
}

.pencilcharge_won {
	text-align: center;
	margin: 100px 0px;
}

.btns {
	display: flex;
	justify-content: center;
	margin-bottom: 150px;
}

.pencilcharge_btn {
	text-align: center;
}

.pencilcharge_won {
	display: flex;
	justify-content: center;
}

input[type=text] {
	border: none;
	color: black;
	font-weight: bold;
	width: 60px;
}



/* modal 연락 요청 받은 내역*/
#receive_alarm_modal.receive_alarm_modal_overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	border: 1px solid black;
}

#receive_alarm_modal .receive_alarm_modal_window {
	background: white;
	border-radius: 10px;
	border: 1px solid black;
	width: 600px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	overflow: auto;
}

#receive_alarm_modal .receive_alarm_modal_title {
	padding-left: 10px;
	display: inline;
	color: black;
}

.receive_alarm_modal_title img {
	float:left;
}
.receive_alarm_modal_title p {
	float:left;
}

#receive_alarm_modal .receive_alarm_modal_close {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	color: black;
}

#receive_alarm_modal .receive_alarm_modal_content {
	margin-top: 20px;
	padding: 0px 10px;
	color: black;
}

table#receive_alarm_table{
	width:100%;
	text-align:center;
	border-spacing: 20px 20px;
	margin: 0 auto;
	border-collapse: separate;
	
}
