@charset "UTF-8";

@charset "UTF-8";

* {
	font-family: MinSans, serif;
}

p {
	font-weight: bold;
}

a:link {
	color: black
}

a:visited {
	color: black;
}

#main_wrap {
	width: 1200px;
	height: 80%;
	display: flex;
	margin: 0 auto;
}

#left_div {
	width: 70%;
}

#right_div {
	width: 30%;
}

#top_div {
	display: flex;
	margin: 50px 50px 50px 50px;
}

#profile_div {
	display: flex;
}

.nickname_div {
	padding: 10px 0px;
}

.pencil_div {
	display: flex;
	padding: 10px 0px;
	justify-content: space-between;
}

#bottom_div {
	margin-top: 50px;
}

#p_won{
	cursor:pointer;
}

.arrow, .arrow_active{
	width: 20px;
	height: 20px;
	margin: 0 10px;
}

.text_div {
	width: 50%;
	margin: 20px;
	display: flex;
	justify-content: space-between;
}

.arrow_active {
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 20px;
	vertical-align: middle;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(28px);
	-ms-transform: translateX(28px);
	transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.toggle_p {
	margin: 0px;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}


/* modal 충전하기 */
#pencilcharge_modal.pencilcharge_modal_overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#pencilcharge_modal .pencilcharge_modal_window {
	background: white;
	box-shadow: 0 8px 32px 0 #fed08b;
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 400px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

#pencilcharge_modal .pencilcharge_modal_title {
	padding-left: 10px;
	display: inline;
	color: black;
}
.pencilcharge_modal_title img {
	float:left;
}
.pencilcharge_modal_title p {
	float:left;
}

#pencilcharge_modal .pencilcharge_modal_close {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: black;
}

#pencilcharge_modal .pencilcharge_modal_content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: black;
}

.pencilcharge_won {
	text-align: center;
	margin: 100px 0px;
}

.btns {
	display: flex;
	justify-content: center;
	margin-bottom: 150px;
}

.pencilcharge_btn {
	text-align: center;
}

.pencilcharge_won {
	display: flex;
	justify-content: center;
}

input[type=text] {
	border: none;
	text-shadow: 1px 1px 2px gray;
	color: black;
	font-weight: bold;
	width: 60px;
}





/* modal 0원*/
#won_modal.won_modal_overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#won_modal .won_modal_window {
	background: white;
	box-shadow: 0 8px 32px 0 #fed08b;
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 400px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

#won_modal .won_modal_title {
	padding-left: 10px;
	display: inline;
	color: black;
}

#won_modal .won_modal_title h2 {
	display: inline;
}

#won_modal .won_modal_close {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: black;
}

#won_modal .won_modal_content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: black;
}