@charset "UTF-8";

.wrap.content p {
	font-family: MinSans-Medium;
	
}
.wrap.content button {
	font-family: MinSans-Medium;
}

div#top_div {
	text-align: center;
	margin: 20px auto;
	
}
.wrap.content {
	height: 80%;
	overflow:auto;
}

table#teacherUpdateTable {
	border-spacing: 20px 20px;
	margin: 0 auto;
	border-collapse: separate;
}
table#teacherUpdateTable td{
	vertical-align:top
}

div.active {
	display: flex;
}

table#teacherUpdateTable {
	font-family: MinSans-Medium;
}


textarea.text_area {
	width: 400px;
	height: 100px;
	resize: none;
}

div#bottom_div {
	display: flex;
	justify-content: center;
}

.update_btn {
	margin: 10px 20px;
}

div.active_div{
	margin: 10px 0px;
}