@charset "UTF-8";
a{
	text-decoration:none;
}
.wrap.content {
	height: 80%;
}
div#top_div {
	text-align: center;
	margin: 20px auto;
	
}

table#teacherUpdateTable {
	border-spacing: 20px 20px;
	margin: 0 auto;
	border-collapse: separate;
}
table#teacherUpdateTable td{
	vertical-align:top
}

div.active {
	display: flex;
}

tr.language_sel {
	display: none;
}

textarea.text_area {
	width: 400px;
	height: 100px;
	resize: none;
}

div#bottom_div {
	display: flex;
	justify-content: center;
}

.update_btn {
	margin: 10px 20px;
}