@charset "UTF-8";

.wrap.content p {
	font-family: MinSans-Medium;
	
}
.wrap.content button {
	font-family: MinSans-Medium;
}

div#top_div {
	text-align: center;
	margin: 20px auto;
	
}
.wrap.content {
	height: 100%;
	overflow:auto;
}

table#teacherUpdateTable {
	border-spacing: 20px 20px;
	margin: 0 auto;
	border-collapse: separate;
}
table#teacherUpdateTable td{
	vertical-align:top
}

div.active {
	display: flex;
}

table#teacherUpdateTable {
	font-family: MinSans-Medium;
}
#updateTitle {
	font-size: 20px; 
	padding: 20px;
	text-align: center;
	color:#FA9D00;
}


textarea.text_area {
	width: 400px;
	height: 100px;
	resize: none;
}

div#bottom_div {
	display: flex;
	justify-content: center;
}

.update_btn {
	margin: 10px 20px;
}

div.active_div{
	margin: 10px 0px;
}



/* 교습 가능지역 modal */
#acti_area_modal.acti_area_modal_overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

#acti_area_modal .acti_area_modal_window {
	background: white;
	border-radius: 10px;
	border: 1px solid black;
	width: 400px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	overflow: auto;
}

#acti_area_modal .acti_area_modal_title {
	padding-left: 10px;
	display: inline;
	color: black;
}
.acti_area_modal_title img {
	float:left;
}
.acti_area_modal_title p {
	float:left;
}

#acti_area_modal .acti_area_modal_close {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	color: black;
}

#acti_area_modal .acti_area_modal_content {
	margin-top: 100px;
	padding: 0px 10px;
	color: black;
}
.acti_area_modal_container{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 15px 10px;
}
