.content>aside {
    width: 20%;
    background-color: violet;
    float: left;
}
.aside_menu {
    background-color: blue;
    width: 150px;
    margin: 0 auto;
    /* position: fixed;
    top: 150px;
    right: 50px; */
}
.like_report {
    width: 128px;
    margin: 10px auto;
}

.like_report img {
    width: 20px;
    vertical-align: middle;
    padding-right: 5px;
}

.message_area {
    width: 100px;
    margin: 0 auto;
}